{% extends 'base.html' %}
    
{% block titulo %}
Ciudades
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Ciudades</h3>

    <!-- Boton agregar -->
    <div class="row mb-2">
      <div class="col col-md-4">
        <a href="" class="btn btn-primary">Agregar</a>
      </div>
    </div>
    <!--  -->

    <!-- Tabla -->
    <div class="row">
        <!-- columna de la mascota -->
        <div class="col col-md-12">

            <table class="table table-striped" id="tbl">
                <thead>
                  <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <!--  -->
    </div>
    <!--  -->

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>

  const initDatatable = () => {
    $('#tbl').DataTable({
      language: {
        url: "{{ url_for('static', filename='vendor/datatables/es-ES.json') }}",
      },
      ajax:'/referenciales/ciudad/get-ciudades',
      columns: [
        { data: 'descripcion' },
        { data: function(row) {
            return `<button type="button" name="btn_editar" class="btn btn-primary">Editar</button>
                    <button type="button" name="btn_eliminar" class="btn btn-danger">Eliminar</button>`
          }
        }
      ]
    });
  }

  $(function() {
    initDatatable();
  });
</script>
{% endblock %}