{% extends 'base.html' %}
    
{% block titulo %}
Ciudades
{% endblock %}

{% block contenido %}
<div class="container mt-4">
    <h3>Listar Ciudades</h3>

    <!-- Boton agregar -->
    <div class="row mb-2">
      <div class="col col-md-4">
        <a href="" class="btn btn-primary">Agregar</a>
      </div>
    </div>
    <!--  -->

    <!-- Tabla -->
    <div class="row">
        <!-- columna de la mascota -->
        <div class="col col-md-12">

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Descripción</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in lista_ciudades %}
                  <tr>
                    <td>{{ item['descripcion'] }}</td>
                    <td>
                      <div class="row">
                        <div class="col col-md-2">
                          <a href="" class="btn btn-primary">Editar</a>
                        </div>
                        <div class="col col-md-2">
                          <a href="" class="btn btn-danger">Eliminar</a>
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
            </table>

        </div>
        <!--  -->
    </div>
    <!--  -->

    <div class="row mt-4 d-none" id="rowAlerta">
        <div class="col col-md-12">
            <div class="alert alert-success">
                <strong>Registro Exitoso!</strong>
                <div class="row" id="mostrarAlerta"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
  $(function() {
    // Promise
    // r => r.json()
    debugger;
    fetch('/referenciales/ciudad/get-ciudades')
      .then(function(r) {
        debugger;
        return r.json();
      })
      .then(function(data) {
        debugger;
        console.log(data);
      })
      .catch(function(err) {
        debugger;
        console.error(err);
      })

  });
</script>
{% endblock %}